#bgVideo {
  position: fixed;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

.bgImage {
  background-image: url("../images/bg_1.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 100%; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.bg-faded {
  background: rgba(0, 0, 0, 0.3);
}

.bgGraph {
  background-color: rgba(97, 86, 86, 1);
  background-size: 30px 30px;
  background-image: linear-gradient(
      to right,
      rgb(58, 57, 56) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(58, 57, 56) 1px, transparent 1px);
}

.particle-container {
  position: relative;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 700px) {
  .display-2 {
    font-size: 3rem;
  }
}

/* contact form */
.form-group {
  position: relative;
}

.form-group > label {
  position: absolute;
  color: azure;
  top: 0.5rem;
  left: 0.5rem;
  bottom: 0;
  transition: 0.2s;
}

input:focus + label {
  margin-left: -60px;
}

textarea:focus + label {
  margin-left: -75px;
}

.form-control {
  background-color: rgb(58, 57, 56, 0.3);
}

input:valid {
  background: white;
}
textarea:valid {
  background: white;
}
input:valid + label {
  margin-left: -60px;
}

textarea:valid + label {
  margin-left: -75px;
}
